.nav {
  height: 5rem;
  width: 100vw;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(220, 217, 217, 0.999);
}

.nav__logo {
  padding-left: 2rem;
  font-size: 2rem;
  color: black;
  font-weight: 800;
}

.nav__list {
  list-style: none;
  display: flex;
  padding-right: 2rem;
  font-size: 1.2rem;
}

.nav__item {
  padding-left: 1rem;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

.nav__link:hover {
  font-weight: 800;
  text-decoration: underline;
}

/* Ensure no overflow on the body */
body {
  overflow-x: hidden;
}

/* Ensure container elements are responsive */
.container {
  width: 100%;
  box-sizing: border-box;
}

/* Responsive styles for large devices */
@media screen and (min-width: 769px) {
  .nav__menu {
    display: flex;
    position: relative; /* Use relative positioning */
    width: auto;
    padding: 0; /* Remove padding for large screens */
    background-color: transparent; /* Remove background */
    transform: none; /* Reset transform */
    transition: none; /* Disable transition */
  }

  .nav__toggle {
    display: none;
  }
}

/* Responsive styles for small devices */
@media screen and (max-width: 768px) {
  .nav {
    height: auto;
    top: initial;
    bottom: 0;
  }

  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: rgba(220, 217, 217, 0.999);
    transform: translateY(0);
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
    opacity: 0; /* Initially hidden */
  }

  .show-menu {
    bottom: 0;
    opacity: 1; /* Show menu */
  }

  .nav__toggle {
    display: block;
    font-size: 1.5rem;
    margin-right: 1rem;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 1rem;
  }

  .nav__close {
    display: block;
    position: absolute;
    right: 1.3rem;
    bottom: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0;
  }
}

@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 2rem 0.5rem;
  }

  .nav__list {
    column-gap: 0;
  }
}
